/* Reset CSS */
::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

h4 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: aliceblue;
}
.navbar {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-color: black;
    border: 2px solid rgb(62, 84, 63);
    border-radius: 5px;
    padding: 4px;
}

.contact {
    display: flex;
    justify-content:space-around ;
    width: 90px;
}

.FAQ {
    display: flex;
    justify-content:space-around ;

}

.FCX {
    display: flex;
    justify-content:space-around ;
    width: 90px;
    border: 2px solid red;
    border-radius: 5px;
}

.menu-container {
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    position: relative;
    display: inline-block;
}

#b-button {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: black;
    border: 2px solid aqua;
    border-radius: 10px;
}

#menu {
    list-style:disc;
    padding: 10px 40px 90vh;
    position: absolute;
    top: 99%;
    left: 0;
    background-color: black;
    border: 1px solid #ccc;
    display: none;
    border: 3px solid aqua;
    border-radius: 10px;
    color: aqua;
}

#menu li {
    margin-top: 10vh;
    padding: 10 10 10;
}

#menu li a {
    text-decoration: none;
    color: aqua;
    display: block;
    margin-left: 1vh;
}

#menu li:hover {
    background-color:rgb(123, 184, 184);
}

.hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.background {
    display: flex;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Gambar/Freeport2.jpg');
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 100px;
}

.content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid aqua;
    border-radius: 50px;
    background-size: auto;
    padding: 1vh 15vh 1vh;
    background-color: black;
    font-size: larger;
    transition: .5s ease-in-out;
    transition-delay:  0;

}

/* Add this CSS for the continuous right-to-left background image slideshow */
.background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    animation: slideshow 10s linear infinite; /* Adjust the timing as needed */
}

@keyframes slideshow {
    0% {
        background-image: url('Gambar/freeport.jpg'); /* Start with the first image */
        background-position: 100% 0; /* Start from the right */
    }
    25% {
        background-image: url('Gambar/Freeport2.jpg'); /* Switch to the second image */
    }
    50% {
        background-image: url('Gambar/Menu.png'); /* Switch to the third image */
    }
    75% {
        background-image: url('Gambar/Globe.png'); /* Switch to the fourth image */
    }
    100% {
        background-image: url('Gambar/FCX.png'); /* Loop back to the first image */
        background-position: -100% 0; /* End at the left */
    }
}


.teksutama
{
    font-size: 30px;
}